body {
  background-image: url('../image/gettyimages-1204199420-2048x2048.jpg');
  color: orangered;
}
li {
  margin: 10px 0;
}
.h1 {
  font-size: 4rem;
  color: red;
}

.h2 {
  font-size: 2rem;
}
head {
  font-size: 200px;
}
