<li class="devoured-burger-name list-group-item">

    <!--Throw away burger button-->
    <button class="devoure-burger btn btn-primary mb-2 mt-2" data-id="{{this.id}}">Eat Burger</button>
    {{burger_name}}
</li>