<li class="devoured-burger-name list-group-item">

    <!--Throw away burger button-->
    <button class="devoure-burger btn btn-primary" data-id="{{this.id}}"><i class="far fa-trash-alt"></i> Eat
        Burger</button>
    {{burger_name}}
</li>